*{
    font-family: 'Trebuchet MS';
}
.background{
    opacity: 0.5;
    position: absolute;
}
body{
    margin:0px;
    padding:0px;
    background-size: 100%;
    background-image: url("images/fond4.png");
    background-repeat: no-repeat;
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-head{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin: 0px;
    background-color: transparent;
}
nav{
    width:100%;
    margin:0 auto;
    background-color: transparent;
    position: sticky;
    top:0px;
    cursor: pointer;
}
nav ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
}
nav ul li{
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
}
nav ul::after{
    content: "";
    display: table;
    clear:both;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom:2 px solid white;
    padding: 10px 0px;

}
nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index:1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding:10px;
    border-bottom: none;

}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant >a::after{
    content: "▼";
    font-size: 12px;
}
.center{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6%;
    color:white;
    margin:1%;
}
.title b{
    font-size: 500%;
}
.title i{
    font-size: 150%;
}
.metar{
    width: 80%;
    background-color: rgb(240,240,240);
    margin:1%;
    padding:1%
}
.metar b{
    background-color: blue;
    color:white
}
.metar:hover{
    cursor: pointer;
    opacity: 0.7;
    background-color: rgb(220,220,220);
    transition: 0.1s;
}
