<!DOCTYPE html>
<html>
    {% set titre="Gestion des NOTAM" %}
    <head>{% include("layout/head.html") %}</head>
    <header>{% include("layout/nav.html") %}</header>
    <body>
        <form action="/connexion" method="POST">
                <label for="nom"></label>
                <input type="text" name="nom" id="nom"/>
                <label for="prenom"></label>
                <input type="text" name="prenom" id="prenom"/>
                <button type="submit" >Seconnecter</button>
    </body>
    <footer>{% include("layout/footer.html") %}</footer>
</html>     